.component.svelte-1o0fp2f {
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 510px;
	padding: 30px 15px;
	text-align: center
}

.browsers.svelte-1o0fp2f {
	display: flex;
	flex-direction: row;
	margin-top: 30px
}

.browser.svelte-1o0fp2f {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	text-align: center
}

.ie-word-wrap.svelte-1o0fp2f {
	width: 100%
}

.browser.svelte-1o0fp2f>label.svelte-1o0fp2f {
	margin-top: 10px
}

.component.svelte-nsk01h {
	display: inline
}

.component.signal-0.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+1) {
	color: #b33430;
	opacity: 1
}

.component.signal-0.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+0),
.component.signal-1.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+1),
.component.signal-2.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+2),
.component.signal-3.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+3),
.component.signal-4.svelte-nsk01h .signal.svelte-nsk01h:nth-child(-n+4) {
	opacity: .8
}

.signal.svelte-nsk01h {
	display: inline-block;
	color: #fff;
	font-size: 2.5rem;
	margin-right: -.33rem;
	opacity: .2;
	vertical-align: middle
}

.theme-bg.svelte-199tut6 {
	background-color: #22201e;
	background-position: 50%;
	background-size: cover;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%
}

.shade.svelte-199tut6 {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
	position: relative
}

.panel-footer.svelte-199tut6 {
	box-sizing: default;
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding: 15px 20px
}

.component.svelte-g0lln {
	display: flex;
	flex-shrink: 0;
	position: relative
}

.status.svelte-g0lln {
	bottom: 0;
	height: 30%;
	position: absolute;
	right: 0;
	width: 30%
}

.online.svelte-g0lln {
	background-color: #67a032
}

.live.svelte-g0lln {
	background-color: #e6912c
}

.chat-avatar-group.svelte-atyy5f,
.chat-avatar-placeholder.svelte-atyy5f {
	display: inline-block;
	flex-shrink: 0
}

.chat-avatar-group.svelte-atyy5f {
	background-color: #e7e6e5;
	color: #8b8987;
	font-size: 2.5rem;
	text-align: center
}

.search.svelte-raack4 {
	display: flex;
	flex-basis: 100%;
	margin: 0 0 15px
}

.magnifying-glass.svelte-raack4 {
	color: hsla(0, 0%, 100%, .25);
	font-size: 21px;
	line-height: 25px;
	margin-left: -23px
}

.field.svelte-raack4 {
	background: hsla(0, 0%, 100%, .05);
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: inherit;
	height: 30px;
	padding: 0 10px;
	width: 100%
}

.field.svelte-raack4:focus {
	border-color: #a7a6a2;
	transition: border .2s
}

.field.svelte-raack4::placeholder {
	color: hsla(0, 0%, 100%, .4)
}

.chat-list-search-container.svelte-1cn5nw1 {
	align-items: flex-start;
	display: flex;
	justify-content: stretch
}

.chat-list-start-group-chat.svelte-1cn5nw1 {
	background: none;
	border: none;
	box-sizing: border-box;
	color: #bfbeba;
	cursor: pointer;
	flex-basis: 30px;
	font-size: 1.7rem;
	height: 30px;
	line-height: 1;
	margin-right: -10px;
	padding: 5px
}

.chat-list-item.svelte-1cn5nw1 {
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	font-size: 1.3rem;
	margin-bottom: 10px;
	position: relative
}

.chat-list-name.svelte-1cn5nw1 {
	color: #bfbeba;
	flex-basis: 100%;
	flex-shrink: 1;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis
}

.chat-list-deactivate.svelte-1cn5nw1 {
	background: none;
	border: none;
	color: #bfbeba;
	display: none;
	font-size: 1.5em;
	padding: 3px 3px 0
}

.chat-list-deactivate.svelte-1cn5nw1:hover,
.chat-list-item.svelte-1cn5nw1:hover .chat-list-name.svelte-1cn5nw1 {
	color: #fff
}

.chat-list-item.svelte-1cn5nw1:hover .chat-list-deactivate.svelte-1cn5nw1 {
	display: block
}

.chat-list-counter.svelte-1cn5nw1 {
	background-color: #b33430;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	line-height: 19px;
	margin-left: 5px;
	padding: 0 5px;
	text-align: center
}

.chat-list-inactive-toggler.svelte-1cn5nw1 {
	background: none;
	border: none;
	color: #bfbeba;
	display: block;
	font-weight: 600;
	line-height: 30px;
	padding: 0
}

.component.svelte-1oyt1y8 {
	text-align: center;
	width: 40px
}

.component.dark.svelte-1oyt1y8 .dot.svelte-1oyt1y8 {
	background-color: #333
}

.component.light.svelte-1oyt1y8 .dot.svelte-1oyt1y8 {
	background-color: hsla(0, 0%, 100%, .4)
}

.component.right.svelte-1oyt1y8 .dot.svelte-1oyt1y8 {
	margin: 0 0 0 auto
}

.dot.svelte-1oyt1y8 {
	-webkit-animation: svelte-1oyt1y8-animate 1.4s ease-in-out 0s infinite both;
	animation: svelte-1oyt1y8-animate 1.4s ease-in-out 0s infinite both;
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	width: 10px
}

.bounce1.svelte-1oyt1y8 {
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}

.bounce2.svelte-1oyt1y8 {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}

@-webkit-keyframes svelte-1oyt1y8-animate {
	0%,
	80%,
	to {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes svelte-1oyt1y8-animate {
	0%,
	80%,
	to {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.component.svelte-1rbtdnt {
	margin-top: 10px;
	display: flex;
	flex-grow: 1;
	flex-direction: column
}

.search-input.svelte-1rbtdnt {
	display: flex
}

.tab-content.svelte-1rbtdnt {
	padding: 15px;
	flex-grow: 1;
	background: rgba(0, 0, 0, .22)
}

.tab.active.svelte-1rbtdnt {
	background-color: rgba(0, 0, 0, .22)
}

.tabless-label.svelte-1rbtdnt {
	margin-bottom: 15px
}

.svelte-result.svelte-1rbtdnt {
	display: flex;
	align-items: center;
	margin: 0 0 10px
}

.svelte-result.svelte-1rbtdnt .icon-font.icon-font-chess.svelte-1rbtdnt {
	color: hsla(0, 0%, 100%, .4);
	font-size: 2.6rem!important;
	height: 26px!important;
	margin-top: -3px;
	width: 26px!important
}

.svelte-result .name+.svelte-1rbtdnt {
	margin-left: 5px;
	margin-right: 4px
}

.svelte-friend-result.svelte-1rbtdnt .friend-action.svelte-1rbtdnt {
	display: none!important
}

.svelte-friend-result.svelte-1rbtdnt:hover .icon-font.friend-action.svelte-1rbtdnt {
	display: flex!important
}

.settings-container.svelte-1u1h7mz {
	display: flex;
	margin-left: auto
}

.loading-container.svelte-1u1h7mz {
	display: flex;
	flex-grow: 1;
	justify-content: center
}

.sb-notification.svelte-1g1yal5 {
	transition: opacity .2s
}

.disappearing.svelte-1g1yal5 {
	opacity: .5
}

.notification-icon.svelte-1g1yal5 {
	font-size: 3.2rem;
	flex-shrink: 0;
	font-weight: 300
}

.notification-icon.svelte-1g1yal5 .checkbox.svelte-1g1yal5 {
	font-size: 3.2rem
}

.notification-image.svelte-1g1yal5 {
	overflow: hidden
}

.no-notifications.svelte-e93gn0 {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center
}

.chevron-right.svelte-e93gn0 {
	font-size: 1.6rem
}

.loading-label.svelte-e93gn0 {
	margin-left: 7px
}

.chevron-right.svelte-6zuozh {
	font-size: 1.6rem;
	margin-top: 0
}

.svelte-username.svelte-6zuozh {
	overflow: hidden;
	text-overflow: ellipsis
}

.time-left.svelte-6zuozh {
	white-space: nowrap
}

.svelte-section.svelte-fz08s5 {
	display: flex;
	align-items: center;
	flex-shrink: 0
}

.title.svelte-fz08s5 {
	margin-right: 10px
}

.svelte-live.svelte-fz08s5 {
	padding: 0 3px;
	text-transform: uppercase;
	flex-shrink: 0
}

.name.svelte-md8xgb {
	margin-right: 10px
}

.tracked-content.svelte-md8xgb {
	font-size: 18px;
	margin-top: -3px;
	color: inherit
}

.svelte-section.svelte-md8xgb {
	flex-shrink: 0
}

@media(max-height:575px) {
	.streamer-container.svelte-md8xgb a.svelte-md8xgb:nth-of-type(3) {
		margin-bottom: 0!important
	}
	.streamer-container.svelte-md8xgb a.svelte-md8xgb:nth-of-type(n+4) {
		display: none!important
	}
}

.heading.svelte-1850f4v {
	font-size: 1.3rem;
	min-height: 30px
}

.watch-name.svelte-1850f4v {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.badge.svelte-1850f4v {
	flex-shrink: 0;
	margin-left: 0;
	padding: 0 3px
}

.svelte-rating.svelte-1850f4v {
	color: hsla(0, 0%, 100%, .4);
	margin: 0 5px 0 0
}

.svelte-section.svelte-1850f4v {
	flex-shrink: 0
}

.country-flags-component.svelte-1850f4v {
	margin-left: auto
}

h1.svelte-1r2lh7j {
	color: #4b4847;
	font-size: 1.8rem;
	margin-bottom: 25px
}

.default-modal-content.svelte-1r2lh7j {
	max-width: 415px
}

.icon-font.svelte-1r2lh7j {
	font-weight: 400;
	text-align: center;
	color: #8c8a88
}

.link-container.svelte-1r2lh7j {
	align-items: center;
	display: flex
}

.link-container.svelte-1r2lh7j input.svelte-1r2lh7j {
	border: 1px solid #dbd9d7;
	border-radius: 3px;
	box-shadow: none;
	font-size: 1.4rem;
	height: 30px;
	margin: 0 10px 0 5px;
	padding: 5px 8px;
	width: 275px
}

.link-container.svelte-1r2lh7j a.svelte-1r2lh7j {
	color: #005e94;
	font-weight: 600
}

.link-container.svelte-1r2lh7j .icon-font.svelte-1r2lh7j {
	height: 28px;
	width: 28px;
	font-size: 2.8rem;
	margin-top: -5px
}

.live-timer.svelte-1r2lh7j {
	color: #666463;
	margin-top: 20px;
	text-align: center
}

.social-share-container.svelte-1r2lh7j {
	display: flex;
	margin-top: 10px
}

.social-share-container.svelte-1r2lh7j .icon-font.svelte-1r2lh7j {
	height: 40px;
	width: 40px;
	font-size: 4rem
}

.cancel.svelte-1r2lh7j {
	align-items: center;
	background: #dbd9d7;
	border-bottom: 1px solid #a7a6a2;
	border-radius: 3px;
	color: #666463;
	display: flex;
	font-size: 1.5rem;
	height: 40px;
	justify-content: center;
	margin-top: 15px;
	width: 115px
}

.cancel.svelte-1r2lh7j .icon-font.svelte-1r2lh7j {
	height: 28px;
	width: 28px;
	font-size: 2.8rem;
	margin-top: -5px
}

.play-url-container.svelte-1r2lh7j {
	align-items: center;
	background-color: #f8f8f8;
	color: #4b4847;
	height: 75px;
	margin: 15px -30px -30px;
	display: flex;
	text-align: center
}

.login-header.svelte-14nzybc {
	align-items: center;
	background-color: #85aa53;
	display: flex;
	flex-direction: column;
	padding: 5px 15px 15px;
	text-align: center;
	width: 100%
}

.login-header.svelte-14nzybc .icon-font.svelte-14nzybc {
	height: 100px;
	width: 100px
}

.login-header.svelte-14nzybc .icon-font span.svelte-14nzybc {
	font-size: 10rem;
	margin-top: -17px;
	color: #fff
}

.login-title.svelte-14nzybc {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 700
}

.login-body.svelte-14nzybc {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-content: center;
	padding: 30px
}

.login-headline.svelte-14nzybc {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 30px;
	text-align: center
}

.login-buttons.svelte-14nzybc {
	align-items: center;
	display: flex;
	justify-content: center
}

.form-button.svelte-14nzybc {
	align-items: center;
	background-color: #e6912c;
	border: 0;
	border-bottom: 1px solid #ad6d21;
	border-radius: 3px;
	color: #fff;
	display: inline-flex;
	font-size: 1.5rem;
	font-weight: 600;
	height: 40px;
	justify-content: center;
	margin: 0 8px;
	min-width: 130px;
	padding: 0 18px
}

.core-modal.svelte-cfzx7e {
	width: 450px;
	max-width: 100%;
	overflow: hidden;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.section-title.svelte-cfzx7e {
	align-items: center;
	background-color: #f1f1f1;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: flex-start;
	padding: 8px
}

.title.svelte-cfzx7e {
	color: #666463;
	font-size: 1.5rem;
	font-weight: 600;
	margin-left: 6px
}

.dismissible-icon.svelte-cfzx7e {
	height: 28px;
	width: 28px;
	margin-left: auto;
	cursor: pointer;
	opacity: .5
}

.dismissible-icon.svelte-cfzx7e:hover {
	opacity: .65
}

.dismissible-icon.svelte-cfzx7e span.svelte-cfzx7e {
	font-size: 2.8rem;
	margin-top: -4.76px
}

.icon-font.svelte-cfzx7e {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden
}

.main.svelte-cfzx7e {
	padding: 15px
}

.top-section.svelte-cfzx7e {
	display: flex;
	align-items: center;
	margin-bottom: 15px
}

.avatar.svelte-cfzx7e {
	cursor: default;
	display: flex;
	flex-shrink: 0;
	height: 50px;
	position: relative;
	width: 50px
}

.username.svelte-cfzx7e {
	cursor: text;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.3;
	color: #005e94;
	flex-grow: 1;
	margin-left: 15px
}

.message-popover-icon.svelte-cfzx7e {
	height: 30px;
	width: 30px
}

.message-popover-icon.message-success.svelte-cfzx7e {
	color: #4b7636
}

.message-popover-icon.svelte-cfzx7e span.svelte-cfzx7e {
	font-size: 3rem;
	margin-top: -5.1px
}

.icon-font-primary.svelte-cfzx7e {
	color: #8c8a88
}

.form-textarea.svelte-cfzx7e {
	height: auto;
	min-height: 80px;
	max-height: 200px;
	resize: none;
	width: 100%;
	margin: 0 0 15px;
	border: 1px solid #dbd9d7;
	border-radius: 3px;
	color: #26211b;
	font-family: inherit;
	padding: 5px 8px;
	transition: all .3s ease;
	font-size: 1.4rem;
	-webkit-appearance: none
}

.form-textarea.svelte-cfzx7e:focus {
	border-color: #a7a6a2
}

.form-textarea.disabled.svelte-cfzx7e {
	opacity: .5
}

.restricted.svelte-cfzx7e {
	margin: 0 0 15px
}

.restricted.svelte-cfzx7e a.svelte-cfzx7e {
	color: #005e94
}

.send-container.svelte-cfzx7e {
	display: flex;
	align-items: center
}

.form-button.svelte-cfzx7e {
	align-items: center;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	text-shadow: none;
	user-select: none;
	white-space: nowrap;
	font-size: 1.5rem;
	height: 40px;
	min-width: 130px;
	padding: 0 18px;
	background-color: #e6912c;
	border-bottom: 1px solid #ad6d21;
	color: #fff
}

.form-button[disabled].svelte-cfzx7e {
	background-color: #eeb570;
	border-bottom-color: #ad6d21;
	color: #fff;
	cursor: not-allowed
}

.bounce.svelte-cfzx7e {
	margin: 0 0 0 auto;
	opacity: .3
}

.error.svelte-cfzx7e {
	margin-top: 15px;
	color: #b33430;
	font-weight: 600;
	font-size: 1.2rem
}

.captcha-container.svelte-cfzx7e {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px
}

.form-input.svelte-cfzx7e {
	border: 1px solid #8a8886;
	border-radius: 3px;
	height: 50px;
	flex-grow: 1;
	font-size: 1.3rem;
	padding: 6px
}

.captcha.svelte-cfzx7e {
	width: 200px;
	height: 50px;
	flex-grow: 1
}

.slideshow-container.svelte-d78b9f {
	align-items: center;
	display: flex;
	height: 27rem;
	justify-content: center;
	width: 40rem
}

.slide.svelte-d78b9f {
	align-items: center;
	background-color: #fff;
	border-radius: .5rem;
	box-shadow: 0 .2rem .3rem 0 rgba(48, 45, 43, .25), 0 0 .1rem 0 rgba(48, 45, 43, .15);
	color: #4c4847;
	font-size: 2rem;
	height: 27rem;
	justify-content: center;
	overflow: hidden;
	padding: 1rem 0;
	position: absolute;
	width: 33rem;
	z-index: 1
}

.dots.svelte-d78b9f {
	padding: 1.5rem 0;
	position: relative
}

.dot.svelte-d78b9f,
.dots.svelte-d78b9f {
	align-items: center;
	display: flex;
	justify-content: center
}

.dot.svelte-d78b9f {
	cursor: pointer;
	height: 2rem;
	width: 2rem
}

.dot.svelte-d78b9f:after {
	background-color: #bdbcb7;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: .5rem;
	transition: background-color .6s ease;
	width: .5rem
}

.dot.svelte-d78b9f:hover:after {
	background-color: #717171;
	height: .6rem;
	width: .6rem
}

.dot.active.svelte-d78b9f:after {
	background-color: #666463;
	height: .8rem;
	width: .8rem
}

.upgrade-icon.svelte-d78b9f {
	align-items: center;
	display: flex;
	height: 14.3rem;
	justify-content: center;
	margin: 2rem auto;
	position: relative;
	width: 14.8rem
}

.upgrade-icon-bg.svelte-d78b9f {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, .1) 6rem, rgba(0, 0, 0, .05) 0), linear-gradient(90deg, rgba(0, 0, 0, .05) 6rem, rgba(0, 0, 0, .1) 0);
	background-position: 0 0, 0 6rem, 0 6rem;
	background-repeat: repeat-x;
	background-size: 12rem 6rem;
	border-radius: 2rem;
	content: "";
	display: block;
	height: 12rem;
	position: absolute;
	transform: rotate(45deg);
	width: 12rem
}

.upgrade-icon-img.svelte-d78b9f {
	background: url(/bundles/web/images/membership/upgrade-icons.d7b13483.png);
	background-size: 151.3rem 14.3rem;
	height: 14.3rem;
	margin: 2rem auto;
	position: relative;
	width: 11.8rem;
	z-index: 1
}

@media (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3/2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
	.upgrade-icon-img.svelte-d78b9f {
		background: url(/bundles/web/images/membership/upgrade-icons.d7b13483@2x.png);
		background-size: 151.3rem 14.3rem
	}
}

@media(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
	.upgrade-icon-img.svelte-d78b9f {
		background: url(/bundles/web/images/membership/upgrade-icons.d7b13483@2x.png);
		background-size: 151.3rem 14.3rem
	}
}

.upgrade-icon-img.sprite-lessons.svelte-d78b9f {
	background-position: -.5rem .8rem;
	height: 11.8rem;
	width: 11.8rem
}

.upgrade-icon-img.sprite-puzzles-battle.svelte-d78b9f {
	background-position: -12.5rem -.2rem;
	height: 11.6rem;
	top: .7rem;
	width: 12.2rem
}

.upgrade-icon-img.sprite-no-ads.svelte-d78b9f {
	background-position: -25.2rem -.2rem;
	height: 11.8rem;
	top: .7rem;
	width: 12.2rem
}

.upgrade-icon-img.sprite-flair.svelte-d78b9f {
	background-position: -37.4rem -.2rem;
	height: 11.8rem;
	top: .7rem;
	width: 12.2rem
}

.upgrade-icon-img.sprite-puzzles-learning.svelte-d78b9f {
	background-position: -49.8rem -.2rem;
	height: 13rem;
	top: .5rem;
	width: 13.2rem
}

.upgrade-icon-img.sprite-analysis.svelte-d78b9f {
	background-position: -63.1rem -.2rem;
	height: 13.2rem;
	left: .6rem;
	top: 1.4rem;
	width: 13.5rem
}

.upgrade-icon-img.sprite-puzzles-rush.svelte-d78b9f {
	background-position: -77.2rem .2rem;
	height: 13.6rem;
	top: .4rem;
	width: 14.5rem
}

.upgrade-icon-img.sprite-stats.svelte-d78b9f {
	background-position: -91.5rem -.2rem;
	height: 12.8rem;
	top: .6rem;
	width: 13.7rem
}

.upgrade-icon-img.sprite-pawn.svelte-d78b9f {
	background-position: -105.2rem -.2rem;
	height: 12.8rem;
	width: 10.8rem
}

.upgrade-icon-img.sprite-explorer.svelte-d78b9f {
	background-position: -115.6rem .2rem;
	height: 12.2rem;
	top: .7rem;
	width: 11.8rem
}

.upgrade-icon-img.sprite-workout.svelte-d78b9f {
	background-position: -127.9rem .2rem;
	height: 12.2rem;
	top: .7rem;
	width: 11.8rem
}

.upgrade-icon-img.sprite-computer.svelte-d78b9f {
	background-position: -139.5rem .2rem;
	height: 14rem;
	top: .7rem;
	width: 11.8rem
}

.slide-title.svelte-d78b9f {
	font-family: var(--globalSecondaryFont);
	font-size: 1.8rem;
	font-weight: 800;
	padding: 0 .5rem;
	width: 33rem
}

.slide-subtitle.svelte-d78b9f {
	color: #666564;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 0 1rem;
	width: 33rem
}

.upgrade-modal.svelte-1ydaji3 {
	background-color: #f8f8f8;
	border-radius: 1rem;
	font-weight: 600;
	height: auto;
	margin: auto;
	max-width: calc(100% - 1.5rem);
	min-height: 55rem;
	padding: 2rem;
	position: relative;
	text-align: center;
	width: 60rem
}

.upgrade-modal-header.svelte-1ydaji3 {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 0 0;
	text-align: center
}

.upgrade-modal-limit.svelte-1ydaji3 {
	color: #8a8886;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 1.2rem;
	margin-top: -1.5rem
}

.upgrade-modal-subtitle.svelte-1ydaji3 {
	color: #0096c6;
	font-size: 2.8rem;
	font-size: clamp(2.2rem, 5vw, 2.8rem);
	font-weight: 800;
	line-height: 1.2;
	margin: 0
}

.onboard.svelte-1ydaji3 .upgrade-modal-subtitle.svelte-1ydaji3 {
	color: #8a8886;
	font-size: 1.6rem;
	font-weight: 600;
	margin-top: 1rem
}

.upgrade-modal-title.svelte-1ydaji3 {
	color: #26211b;
	font-family: var(--globalSecondaryFont);
	font-size: 2.8rem;
	font-size: clamp(2.2rem, 5vw, 2.8rem);
	font-weight: 800;
	line-height: 1.2;
	margin: 0
}

.upgrade-modal-body.svelte-1ydaji3 {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 -2rem;
	overflow: hidden;
	padding: 3.5rem 0 2rem;
	width: 100%
}

.upgrade-modal-body.svelte-1ydaji3 a.svelte-1ydaji3 {
	color: #005e94;
	margin-bottom: -2.2rem;
	margin-top: 1.2rem
}

.upgrade-modal-body.svelte-1ydaji3 a.svelte-1ydaji3:hover {
	color: #e6912c
}

.upgrade-modal-body.svelte-1ydaji3 .upgrade-modal-button.svelte-1ydaji3 {
	max-width: 35rem;
	width: 100%
}

.upgrade-modal-button.svelte-1ydaji3 {
	margin: 0 auto;
	max-width: 35rem;
	width: 100%
}

.alerts-section-link.svelte-ta679 {
	display: flex;
	justify-content: space-between
}

.home-alerts-buttons-wrapper.svelte-ta679 {
	align-items: center;
	display: flex
}

.home-alerts-buttons-wrapper.svelte-ta679 .clear-button.svelte-ta679 {
	cursor: pointer;
	line-height: 1;
	margin-right: 1rem;
	margin-top: .3rem;
	text-align: right
}

.home-alerts-buttons-wrapper.svelte-ta679 .alerts-gear-icon.svelte-ta679 {
	font-size: 2.6rem;
	margin-top: -.3rem
}

.challenge-avatar.svelte-1c78fjn {
	flex-shrink: 0;
	height: 70px;
	width: 70px
}

.toaster.svelte-14z9nre {
	background-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	margin-top: 15px;
	min-height: 60px;
	position: relative;
	width: 343px
}

.toaster.svelte-14z9nre .avatar.svelte-14z9nre {
	flex-shrink: 0;
	height: 60px;
	width: 60px
}

.toaster.svelte-14z9nre .avatar.with-icon.svelte-14z9nre {
	border: 2px solid #fff
}

.toaster.clickable.svelte-14z9nre {
	cursor: pointer
}

.toaster.svelte-14z9nre .achievement.svelte-14z9nre {
	flex-shrink: 0;
	height: 70px;
	width: 70px;
	margin: -10px 0 0 -10px
}

.toaster.svelte-14z9nre .content.svelte-14z9nre {
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2px 25px 2px 15px;
	height: 100%
}

.toaster.svelte-14z9nre .content.svelte-14z9nre a {
	color: #005e94
}

.toaster.svelte-14z9nre .content.svelte-14z9nre a:hover {
	color: #e6912c
}

.close.svelte-14z9nre,
.settings.svelte-14z9nre {
	font-size: 1.8rem;
	height: 1.8rem;
	width: 1.8rem;
	color: #8b8987;
	cursor: pointer;
	position: absolute;
	right: 4px;
	top: 4px;
	z-index: 10001
}

.close.svelte-14z9nre:hover,
.settings.svelte-14z9nre:hover {
	color: #666564
}

.settings.svelte-14z9nre {
	top: auto;
	bottom: 4px
}

.icon.svelte-14z9nre {
	background-color: #666463;
	color: #fff;
	display: block;
	flex: 0 0 60px;
	font-size: 5rem;
	height: 60px;
	line-height: 32px;
	padding: 11px;
	width: 60px
}

.link.svelte-14z9nre {
	color: #0d5887
}

.link.svelte-14z9nre:hover {
	color: #0e344d
}

.toasters-container.svelte-62ipgl {
	position: relative
}

.toasters-list.svelte-62ipgl {
	right: 20px;
	position: fixed;
	bottom: 0;
	z-index: 10000
}

.puzzle-battle-challenge-toaster-wrapper.svelte-15y6efx {
	position: relative
}

.puzzle-battle-challenge-toaster.svelte-15y6efx {
	background-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
	bottom: 0;
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	height: 60px;
	position: fixed;
	right: 20px;
	width: 343px;
	z-index: 10000
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .challenge-avatar.svelte-15y6efx {
	flex-shrink: 0;
	height: 60px;
	width: 60px
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .content.svelte-15y6efx {
	display: flex;
	flex-direction: row;
	padding: 15px;
	align-items: center
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .icon.svelte-15y6efx {
	font-size: 2.8rem;
	font-weight: 400
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .button.svelte-15y6efx {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	font-weight: 600;
	border: 0;
	margin-left: 10px;
	flex: 0 0 auto
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .accept.svelte-15y6efx {
	background-color: #e6912c;
	border-bottom: 1px solid #ad6d21;
	color: #fff
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .accept .icon.svelte-15y6efx {
	color: #fff
}

.puzzle-battle-challenge-toaster.svelte-15y6efx .decline.svelte-15y6efx {
	background-color: #dbd9d7;
	border-bottom: 1px solid #a7a6a2;
	color: #8a8886
}

.puzzle-battle-challenge-toaster.svelte-15y6efx strong {
	color: #005e94;
	cursor: pointer
}

@media (max-width:959px) {
	.puzzle-battle-challenge-toaster.svelte-15y6efx {
		left: 0
	}
}

.scrollbar-obtrusive * {
	scrollbar-color: rgba(0, 0, 0, .45) transparent;
	scrollbar-width: thin
}

.scrollbar-obtrusive ::-webkit-scrollbar {
	height: .8rem;
	width: .8rem
}

.scrollbar-obtrusive ::-webkit-scrollbar-track {
	background-color: transparent
}

.scrollbar-obtrusive ::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .45);
	-webkit-border-radius: 10rem
}

.scrollbar-obtrusive ::-webkit-scrollbar-thumb:vertical {
	min-height: 1rem
}

.scrollbar-obtrusive ::-webkit-scrollbar-thumb:horizontal {
	min-width: 1rem
}

.form-input input[type=text] {
	background-color: #fff;
	border: 1px solid #dad7d5;
	border-radius: 3px;
	color: #302d2b;
	height: 30px;
	padding: 0 10px;
	width: 100%
}

.form-input input[type=text]:focus {
	border-color: #a7a6a2;
	transition: border .2s
}

.form-label {
	color: #302d2b;
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 7px
}

.form-select {
	position: relative
}

.form-select select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #dbd9d7;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1.4rem;
	height: 30px;
	line-height: 2rem;
	padding: 4px 25px 4px 8px;
	width: 100%
}

.form-select select:focus {
	border-color: #a7a6a2;
	transition: border .2s
}

.form-select .right-icon {
	height: 14px;
	width: 14px;
	pointer-events: none;
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translateY(-50%)
}

.form-select .right-icon span {
	font-size: 1.4rem;
	margin-top: -2.38px
}

.form-switch {
	font-size: 1rem;
	height: 2.2em;
	width: 4.4em
}

.form-switch .checkbox {
	display: none
}

.form-switch .track {
	background-color: #bfbeba;
	border: 1px solid #e8e7e6;
	cursor: pointer;
	display: inline-block;
	height: 100%;
	width: 100%
}

.form-switch .handle {
	background-color: #e8e7e6;
	border: 1px solid #dbd9d7;
	box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	height: 2.2em;
	margin: -1px;
	width: 2.4em
}

.form-switch .handle,
.form-switch .track {
	border-radius: 1.3em;
	transition: .3s
}

.form-switch .checkbox:checked+.track {
	background-color: #67a032
}

.form-switch .checkbox:checked+.track .handle {
	margin-left: 100%;
	transform: translateX(-100%)
}

@media (max-width:959px) {
	.form-input input[type=text],
	.form-select select {
		height: 40px
	}
}

.sprite:before {
	background: url(/bundles/web/images/sprites/nav.073f96d9.png);
	background-size: 133px auto;
	content: "";
	display: block;
	flex-shrink: 0;
	margin-right: 12px
}

@media (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3/2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
	.sprite:before {
		background: url(/bundles/web/images/sprites/nav.073f96d9@2x.png);
		background-size: 133px auto
	}
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
	.sprite:before {
		background: url(/bundles/web/images/sprites/nav.073f96d9@2x.png);
		background-size: 133px auto
	}
}

.sprite:not(.top-level):before {
	height: 22px;
	width: 22px
}

.sprite.top-level:before {
	height: 30px;
	width: 30px
}

.sprite.play:before {
	background-position: 0 -572px
}

.sprite.play-top:before {
	background-position: -22px -60px
}

.sprite.diamond:before {
	background-position: 0 0
}

.sprite.diamond-top:before {
	background-position: -22px -240px
}

.sprite.live:before {
	background-position: 0 -22px
}

.sprite.daily:before {
	background-position: 0 -44px
}

.sprite.computer:before {
	background-position: 0 -66px
}

.sprite.tournaments:before {
	background-position: 0 -88px
}

.sprite.archive:before {
	background-position: 0 -110px
}

.sprite.tactics:before {
	background-position: 0 -132px
}

.sprite.puzzles-top:before {
	background-position: -22px -90px
}

.sprite.learn:before {
	background-position: 0 -154px
}

.sprite.learn-top:before {
	background-position: -22px -120px
}

.sprite.videos:before {
	background-position: 0 -176px
}

.sprite.articles:before {
	background-position: 0 -198px
}

.sprite.news:before {
	background-position: 0 -220px
}

.sprite.openings:before {
	background-position: 0 -242px
}

.sprite.analysis:before {
	background-position: 0 -264px
}

.sprite.connect:before {
	background-position: 0 -286px
}

.sprite.connect-top:before {
	background-position: -22px -180px
}

.sprite.clubs:before {
	background-position: 0 -308px
}

.sprite.blogs:before {
	background-position: 0 -330px
}

.sprite.vote-chess:before {
	background-position: 0 -352px
}

.sprite.coaches:before {
	background-position: 0 -374px
}

.sprite.friends:before {
	background-position: 0 -396px
}

.sprite.messages:before {
	background-position: 0 -418px
}

.sprite.events:before {
	background-position: 0 -440px
}

.sprite.stats:before {
	background-position: 0 -462px
}

.sprite.theme:before {
	background-position: 0 -484px
}

.sprite.settings:before {
	background-position: 0 -506px
}

.sprite.home:before {
	background-position: 0 -550px
}

.sprite.explorer:before {
	background-position: 0 -594px
}

.sprite.more:before {
	background-position: 0 -616px
}

.sprite.more-top:before {
	background-position: -22px -210px
}

.sprite.members:before {
	background-position: 0 -638px
}

.sprite.help:before {
	background-position: 0 -660px
}

.sprite.logout:before {
	background-position: 0 -682px
}

.sprite.profile:before {
	background-position: 0 -704px
}

.sprite.watch:before {
	background-position: 0 -726px
}

.sprite.tv:before {
	background-position: 0 -748px
}

.sprite.daily-puzzle:before {
	background-position: 0 -770px
}

.sprite.other-games:before {
	background-position: 0 -792px
}

.sprite.leaderboard:before {
	background-position: 0 -814px
}

.sprite.terms:before {
	background-position: 0 -836px
}

.sprite.chess-kid:before {
	background-position: 0 -858px
}

.sprite.drills:before {
	background-position: 0 -880px
}

.sprite.vision:before {
	background-position: 0 -902px
}

.sprite.mobile-apps:before {
	background-position: 0 -924px
}

.sprite.proleague:before {
	background-position: 0 -946px
}

.sprite.first-steps:before {
	background-position: 0 -968px
}

.sprite.streamers:before {
	background-position: 0 -990px
}

.sprite.four-player-chess:before {
	background-position: 0 -1012px
}

.sprite.bughouse:before {
	background-position: 0 -1034px
}

.sprite.solo-chess:before {
	background-position: 0 -1078px
}

.sprite.cpu-champs:before {
	background-position: 0 -1100px
}

.sprite.speed-champs:before {
	background-position: 0 -1122px
}

.sprite.awards:before {
	background-position: 0 -1144px
}

.sprite.top-players:before {
	background-position: 0 -1166px
}

.sprite.merch:before {
	background-position: 0 -1188px
}

.sprite.puzzles:before {
	background-position: 0 -1210px
}

.sprite.resources:before {
	background-position: 0 -1232px
}

.sprite.wcc:before {
	background-position: 0 -1254px
}

.sprite.top-event:before {
	background-position: 0 -1276px
}

.sprite.puzzle-battle:before {
	background-position: 0 -1298px
}

.sprite.chess-today:before {
	background-position: 0 -1320px
}

.sprite.today-top:before {
	background-position: -22px -150px
}

.sprite.shop:before {
	background-position: 0 -1342px
}

.sprite.live-rankings:before {
	background-position: 0 -1364px
}

.sprite.variants:before {
	background-position: 0 -1386px
}

.sprite.automate:before {
	background-position: 0 -1408px
}

.sprite.library:before {
	background-position: 0 -1430px
}

.sprite.chess-logo:before {
	background-position: -27px 0;
	height: 30px;
	margin-right: auto;
	width: 105px
}

.custom-background.dark-mode #sb {
	background-color: rgba(0, 0, 0, .3)
}

#sb {
	background-color: rgba(0, 0, 0, .2);
	color: hsla(0, 0%, 100%, .65);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	height: 100vh;
	-webkit-overflow-scrolling: touch;
	width: 145px
}

#sb a {
	color: inherit
}

#sb .action {
	align-items: center;
	display: flex;
	font-size: 1.3rem;
	height: 30px;
	padding-left: 9px;
	position: relative
}

#sb .action:hover {
	background-color: rgba(0, 0, 10, .14);
	color: #fff
}

#sb .action .icon-font {
	margin-right: 7px
}

#sb .action.has-popover:hover+.popover {
	display: block
}

#sb .action.toggle {
	display: none;
	height: 40px
}

#sb .action.toggle div.icon-font {
	height: 3.2rem;
	width: 3.2rem
}

#sb .action.toggle div.icon-font span {
	font-size: 3.2rem;
	margin-top: -.544rem
}

#sb .action.ui-mode .light,
.dark-mode #sb .action.ui-mode .dark {
	display: none
}

.dark-mode #sb .action.ui-mode .light {
	display: inline
}

#sb .auth {
	margin: 10px 16px 0
}

#sb .auth:hover {
	color: #fff
}

#sb .auth.login {
	margin-top: 15px
}

#sb .auth .label {
	color: hsla(0, 0%, 100%, .65)
}

#sb .auth .icon-font {
	display: none!important
}

#sb .badge {
	align-items: center;
	background-color: #b33430;
	border-radius: .2rem;
	color: #fff;
	display: flex;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	height: 1.4rem;
	justify-content: center;
	margin-left: auto;
	min-width: 1.4rem
}

#sb .badge:not(.icon) {
	margin-right: 6px
}

#sb .badge.left {
	margin-left: 0
}

#sb .badge.badge-alerts {
	flex-shrink: 0;
	margin-top: -7px;
	position: absolute;
	right: 0
}

#sb .button {
	align-items: center;
	border-radius: 3px;
	color: #fff;
	display: flex;
	flex-shrink: 0;
	height: 40px;
	justify-content: center
}

#sb .icon-font:not(.notification-icon):not(.arrow) {
	height: 2.2rem;
	width: 2.2rem
}

#sb .icon-font:not(.notification-icon):not(.arrow) span {
	font-size: 2.2rem;
	margin-top: -.374rem
}

#sb .action .expand {
	display: none
}

#sb .image {
	margin-right: 12px
}

#sb .image.user-nav-avatar {
	margin-right: 15px;
	-o-object-fit: cover;
	object-fit: cover
}

#sb .image.user-nav-avatar.subnav {
	margin-right: 10px
}

#sb .link {
	align-items: center;
	display: flex;
	min-height: 40px;
	min-width: 40px;
	padding-left: 14px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#sb .link.action {
	min-height: 30px;
	padding-left: 9px
}

#sb .link.small {
	min-height: 30px
}

#sb .link.top-level {
	min-height: 45px;
	padding: 8px 0 8px 11px
}

#sb .main-link:hover {
	background-color: rgba(0, 0, 10, .14);
	color: #fff
}

#sb .sub-link:hover {
	color: #fff
}

#sb .link.hover+.nav-panel {
	left: 145px
}

#sb .link.chess-logo-wrapper {
	height: 30px;
	margin: 10px 0 8px;
	padding-bottom: 3px;
	padding-left: 16px
}

#sb .link.event {
	color: hsla(0, 0%, 100%, .65);
	font-size: 1.3rem;
	min-height: 32px
}

#sb .link.event:hover {
	color: #fff
}

#sb .link.event:last-of-type {
	margin-bottom: 8px
}

#sb .link.event .top-event-title {
	overflow: hidden;
	padding-right: 12px;
	text-overflow: ellipsis;
	white-space: nowrap
}

#sb .link.heading {
	background-color: hsla(0, 0%, 100%, .05)
}

#sb .link.heading+.link.event {
	margin-top: 8px
}

#sb .link.heading .icon-font {
	margin-left: auto;
	margin-right: 5px
}

#sb .main-link.link.trial {
	color: #52b1dc
}

#sb .link span:not(.badge) {
	align-items: center;
	display: flex;
	height: 22px
}

#sb .login,
#sb .signup {
	background-color: #312e2b
}

#sb .login:hover,
#sb .signup:hover {
	background-color: rgba(0, 0, 0, .3)
}

#sb .menu {
	display: flex;
	flex-direction: column;
	flex-shrink: 0
}

#sb .menu.top {
	margin-bottom: 15px
}

#sb .menu:last-of-type {
	font-size: 1.3rem;
	margin: auto 0 15px
}

#sb .menu:last-of-type,
#sb .menu:last-of-type [class^=icon-] {
	color: hsla(0, 0%, 100%, .4)
}

#sb .menu:last-of-type .icon-font {
	height: 3.2rem;
	width: 3.2rem
}

#sb .menu:last-of-type .icon-font span {
	font-size: 3.2rem;
	margin-top: -.544rem
}

#sb .nav-panel .link.my-turn {
	margin-bottom: 10px;
	margin-top: 10px
}

#sb .nav-panel:not(.notifications) .shade {
	padding: 5px 0 0
}

#sb .my-turn {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	font-size: 1.3rem;
	margin: 5px 15px
}

#sb .my-turn.heading {
	padding-right: 0
}

#sb .my-turn.heading:hover,
#sb .my-turn.heading:hover .icon-font-chess {
	color: #fff
}

#sb .my-turn img {
	height: 22px;
	margin-right: 10px;
	width: 22px
}

#sb .my-turn span:last-of-type {
	margin-left: auto
}

#sb .new-game {
	background-color: #7ea650;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 10px 17px
}

#sb .new-game .plus {
	color: #fff;
	font-size: 2.4rem;
	margin-right: 1rem;
	margin-top: -.5rem
}

#sb .new-game:hover {
	background-color: #95bb4a
}

#sb .nav-panel {
	bottom: 0;
	clip: rect(auto, auto, auto, auto);
	-webkit-clip-path: inset(0 0);
	clip-path: inset(0 0);
	height: 100vh;
	left: -320px;
	position: absolute;
	top: 0;
	width: 310px;
	z-index: 9000
}

#sb.hide-panels .nav-panel {
	display: none
}

#sb #my-turns {
	display: flex;
	flex-direction: column
}

#sb .nav-panel:hover {
	left: 145px
}

#sb .nav-panel .main-link.link.trial {
	background-color: #0096c6;
	color: #fff
}

#sb .nav-panel .link {
	margin: 0 5px;
	padding-left: 12px
}

#sb .nav-panel .main-link.hover {
	background-color: hsla(0, 0%, 100%, .05)
}

#sb .popover {
	display: none;
	font-size: inherit;
	font-weight: inherit
}

#sb .popover.dark {
	background-color: #1b1a18;
	border-radius: 3px;
	bottom: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	left: 130px;
	padding: 10px;
	position: fixed;
	top: auto;
	width: 220px;
	z-index: 9001
}

#sb .popover.dark:hover {
	display: block
}

#sb .popover.dark a {
	align-items: center;
	display: flex;
	height: 30px;
	padding: 0 5px
}

#sb .popover.dark a:hover {
	background-color: hsla(0, 0%, 100%, .2);
	color: #fff
}

#sb .popover.dark .arrow {
	border: 7px solid transparent;
	border-top: none;
	border-bottom: 7px solid #1b1a18;
	height: 1px;
	left: -10px;
	position: absolute;
	right: 95px;
	top: 137px;
	transform: rotate(-90deg);
	width: 0
}

#sb .popover.settings .arrow {
	top: 47px
}

#sb .popover.dark .icon-font {
	margin-right: 12px
}

#sb .popover.search {
	align-items: center;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	height: 45px;
	left: 140px;
	margin-top: -7.5px;
	max-width: calc(100vw - 60px);
	padding: 0 10px;
	position: absolute;
	top: 0;
	width: 300px;
	z-index: 9000
}

#sb .popover.search.open {
	display: flex
}

#sb .popover.search .arrow {
	border: 7px solid transparent;
	border-top: none;
	border-bottom: 7px solid #fff;
	height: 1px;
	left: -10px;
	position: absolute;
	transform: rotate(-90deg);
	width: 0
}

#sb .popover.search input {
	border: none;
	font-size: 1.4rem;
	font-weight: 400;
	position: relative;
	width: 100%
}

#sb .toggle-search-box {
	align-items: center;
	display: flex;
	flex-grow: 1
}

#sb .social {
	background-color: #26211b;
	flex-grow: 1;
	margin-top: 5px
}

#sb .tab {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	height: 40px;
	justify-content: center
}

#sb .tabs {
	display: flex;
	flex-shrink: 0
}

#sb a.heading,
#sb span.heading {
	background-color: hsla(0, 0%, 100%, .05);
	margin: 8px 5px;
	padding: 8px 12px
}

#sb a.heading,
#sb a.heading .icon-font-chess,
#sb span.heading,
#sb span.heading .icon-font-chess {
	color: hsla(0, 0%, 100%, .65)
}

#sb .svelte-new {
	padding: 0 3px;
	text-transform: uppercase
}

#sb .svelte-section {
	font-size: 1.3rem;
	padding: 15px
}

#sb .svelte-result {
	align-items: center;
	display: flex;
	font-size: 1.3rem
}

#sb .svelte-result:not(:last-of-type) {
	margin: 0 0 10px
}

#sb .svelte-result .avatar {
	margin-right: 10px
}

#sb .svelte-result .name {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#sb.wide {
	width: 180px
}

#sb.wide.delayed .menu.top:hover .nav-panel,
#sb.wide .link.hover+.nav-panel,
#sb.wide .nav-panel:hover {
	left: 180px
}

#sb.wide .popover.dark {
	left: 165px
}

#sb.wide .popover.search {
	left: 175px
}

.has-tooltip {
	position: relative
}

.svelte-tooltip {
	background-color: rgba(0, 0, 0, .75);
	border-radius: 2px;
	color: #fff;
	left: 0;
	max-width: 200px;
	padding: 5px 8px;
	position: absolute;
	top: 0;
	z-index: 9999
}

.svelte-tooltip:not(.show) {
	display: none
}

.svelte-tooltip:before {
	border-color: transparent;
	border-style: solid;
	content: "";
	display: block;
	margin-top: -5px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transition: opacity .1s
}

.svelte-tooltip.right:before {
	border-right-color: rgba(0, 0, 0, .75);
	border-width: 5px 5px 5px 0;
	left: -5px
}

.svelte-tooltip.left:before {
	border-color: transparent transparent transparent rgba(0, 0, 0, .75);
	border-width: 5px 0 5px 5px;
	left: 100%
}

#sb.delayed .menu.top:hover .nav-panel {
	display: none;
	left: 145px
}

#sb.delayed .link.hover+.nav-panel {
	display: flex!important;
	transition-delay: .75s
}

#sb.delayed .nav-panel {
	transition: left 0s
}

#sb.delayed .nav-panel:hover {
	display: flex!important
}

@media (min-width:960px) {
	#sb.collapsed {
		width: 50px
	}
	#sb.collapsed.delayed .menu.top:hover .nav-panel {
		left: 50px!important
	}
	#sb.collapsed .link[data-panel] {
		justify-content: center;
		padding-left: 0
	}
	#sb.collapsed .action {
		position: relative
	}
	#sb.collapsed .action .icon-font {
		margin-right: 0
	}
	#sb.collapsed .auth {
		height: 28px;
		margin-left: auto;
		margin-right: auto;
		width: 32px
	}
	#sb.collapsed .auth [class*=" icon-"],
	#sb.collapsed .auth [class^=icon-] {
		color: hsla(0, 0%, 100%, .65)
	}
	#sb.collapsed .auth .icon-font {
		display: flex!important
	}
	#sb.collapsed .action .collapse,
	#sb.collapsed .auth>.label {
		display: none
	}
	#sb.collapsed .action .expand {
		display: flex
	}
	#sb.collapsed .image {
		margin-right: 0
	}
	#sb.collapsed .nav-panel .image.user-nav-avatar {
		margin-right: 15px
	}
	#sb.collapsed .link.hover+.nav-panel {
		left: 50px
	}
	#sb.collapsed .menu>.action .nav-label,
	#sb.collapsed .menu>.action>.text,
	#sb.collapsed .menu>.link>.text {
		display: none
	}
	#sb.collapsed .menu>.link>.badge {
		bottom: 4px;
		margin-right: 0;
		position: absolute;
		right: 8px
	}
	#sb.collapsed .menu>.link.sprite:before {
		margin-right: 0
	}
	#sb.collapsed .nav-panel:hover,
	#sb.collapsed .popover.dark,
	#sb.collapsed .popover.search {
		left: 50px
	}
	#sb.collapsed .sprite.chess-logo:before {
		background-position: -27px -29px;
		height: 30px;
		margin-right: auto;
		width: 20px
	}
	#sb.collapsed .toggle-search-box {
		flex-grow: 0;
		justify-content: center
	}
}

@media (min-width:960px) and (max-width:1249px) {
	#sb {
		width: 50px!important
	}
	#sb .link[data-panel] {
		justify-content: center;
		padding-left: 0
	}
	#sb .image.user-nav-avatar {
		margin-right: 0
	}
	#sb .nav-panel .image.user-nav-avatar {
		margin-right: 15px
	}
	#sb .link.hover+.nav-panel {
		left: 50px
	}
	#sb .menu>.action .nav-label,
	#sb .menu>.action>.text,
	#sb .menu>.link>.text {
		display: none
	}
	#sb .menu>.link>.badge {
		bottom: 4px;
		margin-right: 0;
		position: absolute;
		right: 8px
	}
	#sb .menu>.link.sprite:before {
		margin-right: 0
	}
	#sb .sprite.chess-logo:before {
		background-position: -27px -29px;
		height: 28px;
		margin-right: auto;
		width: 19px
	}
	#sb .auth {
		height: 28px;
		margin-left: auto;
		margin-right: auto;
		width: 32px
	}
	#sb .auth [class*=" icon-"],
	#sb .auth [class^=icon-] {
		color: #fff
	}
	#sb .auth .icon-font {
		display: flex!important
	}
	#sb .auth>.label {
		display: none
	}
}

@media (max-width:959px) {
	body.open {
		overflow: hidden
	}
	#sb {
		background-color: #262421;
		display: none
	}
	#sb.open {
		display: flex
	}
	#sb.open.wide .nav-panel.home {
		left: 180px
	}
	#sb.wide .nav-panel {
		width: calc(100vw - 180px)
	}
	#sb.wide .nav-panel:hover {
		left: 180px
	}
	#sb .action.toggle {
		cursor: pointer;
		display: flex;
		flex-shrink: 0
	}
	#sb .chess-logo-wrapper {
		display: none
	}
	#sb .nav-panel {
		left: -100vw;
		width: calc(100vw - 145px)
	}
	#sb .nav-panel:hover {
		left: 145px
	}
}

body.static-nav #sb .auth {
	color: #fff
}

#tb {
	align-items: center;
	display: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 40px;
	justify-content: space-between;
	-webkit-overflow-scrolling: touch
}

#tb,
#tb .icon-font-chess {
	color: hsla(0, 0%, 100%, .4)
}

#tb .action,
#tb .action.notifications,
#tb .action.settings {
	background-color: transparent;
	border: 0;
	display: flex;
	padding: 0;
	position: relative
}

#tb .icon-font {
	height: 3.2rem;
	width: 3.2rem
}

#tb .icon-font span {
	font-size: 3.2rem;
	margin-top: -.544rem
}

#tb .chess-logo {
	display: block
}

#tb .chess-logo-wrapper {
	align-items: center;
	display: flex
}

#tb .badge,
#tb .menu {
	display: flex
}

#tb .badge {
	align-items: center;
	background-color: #b33430;
	border-radius: .2rem;
	color: #fff;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	height: 1.4rem;
	justify-content: center;
	margin-left: auto;
	min-width: 1.4rem
}

#tb .action .badge {
	bottom: 2px;
	position: absolute;
	right: 0
}

#tb .action.toggle .icon-font {
	height: 4rem;
	width: 4rem
}

#tb .action.toggle .icon-font span {
	font-size: 4rem;
	margin-top: -.68rem
}

#tb.open .action.toggle {
	display: none
}

#tb.open .chess-logo-wrapper {
	margin-left: 5px
}

#popover-settings .popover-settings {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	position: absolute;
	z-index: 9999;
	align-items: flex-start;
	background-color: #fff;
	border-radius: 3px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	top: 36px;
	width: 300px
}

#popover-settings .popover-settings.is-active {
	display: block;
	right: -5px
}

#popover-settings .popover-settings .chevron {
	border: 7px solid transparent;
	border-top: none;
	border-bottom: 7px solid #fff;
	height: 1px;
	position: absolute;
	right: 13px;
	top: -7px;
	width: 0
}

#popover-settings .popover-settings .icon-font-chess {
	height: 3.2rem;
	width: 3.2rem;
	align-items: center;
	color: #8c8a88;
	display: flex;
	height: 36px;
	justify-content: center;
	overflow: hidden;
	width: 36px
}

#popover-settings .popover-settings .icon-font-chess span {
	font-size: 3.2rem;
	margin-top: -.544rem
}

#popover-settings .popover-settings .icon-font {
	align-items: center;
	color: #8c8a88;
	display: flex;
	height: 36px;
	justify-content: center;
	overflow: hidden;
	width: 36px
}

#popover-settings .popover-settings .item {
	align-items: center;
	display: flex;
	height: 47px;
	justify-content: flex-start;
	padding: 0 10px;
	width: 100%
}

#popover-settings .popover-settings .item .title {
	color: #26211b;
	font-size: 1.3rem;
	margin-left: 5px
}

#popover-settings .popover-settings .item:hover span {
	color: #e6912c
}

#popover-settings .popover-settings .item+.item {
	border-top: 1px solid #e8e7e6
}

#popover-notifications .popover-notifications {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	position: absolute;
	z-index: 9999;
	align-items: flex-start;
	background-color: #22201e;
	border-radius: 3px;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 525px;
	justify-content: flex-start;
	top: 36px;
	width: 300px
}

#popover-notifications .popover-notifications.is-active {
	display: block;
	right: -5px
}

#popover-notifications .popover-notifications .notification-groups {
	border-radius: 3px;
	flex-basis: 100%;
	height: 485px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll
}

#popover-notifications .popover-notifications .notification-group {
	margin: 0
}

#popover-notifications .popover-notifications .chevron {
	border: 7px solid transparent;
	border-top: none;
	border-bottom: 7px solid #22201e;
	height: 1px;
	position: absolute;
	right: 14px;
	top: -7px;
	width: 0
}

.notifications .sb-notification {
	align-items: center;
	background-color: transparent;
	color: hsla(0, 0%, 100%, .4);
	display: flex;
	padding: 10px 5px 10px 10px
}

.notifications .sb-notification:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.notifications .sb-notification .icon-font.close {
	flex-shrink: 0
}

.notifications .sb-notification .icon-font.close>.icon-font-chess {
	display: none
}

.notifications .sb-notification:hover .icon-font.close>.icon-font-chess {
	display: flex
}

.notifications .sb-notification .close {
	margin-bottom: auto;
	margin-top: -5px
}

.notifications .sb-notification .icon-font {
	cursor: pointer
}

.notifications .sb-notification .request {
	background-color: hsla(0, 0%, 100%, .1);
	border-radius: 3px;
	padding: 10px
}

.notifications .sb-notification .request.accept {
	margin-left: 5px
}

.notifications .sb-notification .request.accept:hover {
	background-color: #e6912c
}

.notifications .sb-notification .request.accept:hover>.icon-font-chess {
	color: #fff
}

.notifications .sb-notification .request.decline:hover {
	background-color: #bfbeba
}

.notifications .sb-notification .request.decline:hover>.icon-font-chess {
	color: #312e2b
}

.notifications .sb-notification .icon-font,
.notifications .sb-notification img {
	height: 32px;
	width: 32px
}

.notifications .sb-notification img {
	flex-shrink: 0;
	margin-right: 10px
}

.notifications .sb-notification .icon-font:not(.close) {
	margin-right: 5px
}

.notifications .notification-content {
	color: hsla(0, 0%, 100%, .65);
	margin-right: auto;
	text-align: left;
	word-break: break-word
}

.notifications .notification-content .country-flags-component {
	vertical-align: middle
}

.notifications .notification-content .live-time-label {
	display: inline-block
}

.notifications .notification-content strong {
	color: #52b0dc;
	font-weight: 600
}

.notifications .notification-icon .icon-font-chess {
	margin-top: -5px
}

.notifications .notification-group-heading {
	align-items: center;
	background-color: hsla(0, 0%, 100%, .05);
	color: hsla(0, 0%, 100%, .4);
	display: flex;
	height: 40px;
	justify-content: space-between;
	padding: 0 2px 0 10px
}

.notifications .notification-group-heading span:not(.icon-font-chess) {
	font-weight: 600
}

.notifications .notification-group-heading .icon-font {
	cursor: pointer
}

.notifications .notification-controls .icon-font-chess,
.notifications .notification-group-heading .icon-font-chess {
	color: hsla(0, 0%, 100%, .4)
}

.notifications .notification-groups {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto
}

.notifications .notification-group {
	font-size: 1.3rem;
	margin: 0 5px
}

.notifications .clear-all {
	color: #52b0dc;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 600
}

.notifications .notification-controls {
	align-items: center;
	color: hsla(0, 0%, 100%, .4);
	display: flex;
	flex-shrink: 0;
	height: 40px;
	justify-content: space-between;
	padding: 0 10px
}

#home-sb-notifications .sb-notification:not(:last-child) {
	border-bottom: 1px solid #e8e7e6
}

.dark-mode #home-sb-notifications .sb-notification:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

#home-sb-notifications .sb-notification .icon-font {
	color: rgba(0, 0, 0, .2)
}

.dark-mode #home-sb-notifications .sb-notification .icon-font {
	color: hsla(0, 0%, 100%, .65)
}

#home-sb-notifications .notification-content {
	color: #302d2b;
	line-height: 1.7rem
}

.dark-mode #home-sb-notifications .notification-content {
	color: hsla(0, 0%, 100%, .65)
}

#home-sb-notifications .notification-group-heading {
	background-color: #f1f1f1;
	color: #8c8a88
}

#home-sb-notifications .sb-notification .request {
	background-color: #f1f1f1
}

#home-sb-notifications .sb-notification .request>.icon-font-chess {
	color: #8c8a88
}

#home-sb-notifications .sb-notification .request.accept:hover {
	background-color: #e6912c
}

#home-sb-notifications .sb-notification .request.accept:hover>.icon-font-chess {
	color: #fff
}

#home-sb-notifications .sb-notification .request.decline:hover {
	background-color: #bfbeba
}

#home-sb-notifications .sb-notification .request.decline:hover>.icon-font-chess {
	color: #312e2b
}

.dark-mode #home-sb-notifications .sb-notification .request {
	background-color: hsla(0, 0%, 100%, .1)
}

.dark-mode #home-sb-notifications .sb-notification .request>.icon-font-chess {
	color: hsla(0, 0%, 100%, .65)
}

#home-sb-notifications .notification-controls {
	border-top: 1px solid #e8e7e6;
	color: #8c8a88
}

#home-sb-notifications .notification-container {
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 15px;
	overflow: hidden
}

#home-sb-notifications .notification-container .icon-font {
	display: flex
}

.dark-mode #home-sb-notifications .notification-container {
	background-color: transparent
}

#home-sb-notifications .notification-content strong {
	color: #005e94
}

.dark-mode #home-sb-notifications .notification-content strong {
	color: #52b0dc
}

#home-sb-notifications .notification-groups {
	max-height: 375px;
	overflow: auto
}

.dark-mode #home-sb-notifications .notification-group-heading {
	background-color: hsla(0, 0%, 100%, .05);
	color: hsla(0, 0%, 100%, .4)
}

#home-sb-notifications .notification-group {
	margin: 0
}

#home-sb-notifications .icon-font:not(.notification-icon) {
	height: 2.2rem;
	width: 2.2rem
}

#home-sb-notifications .icon-font:not(.notification-icon) span {
	font-size: 2.2rem;
	margin-top: -.374rem
}

.dark-mode #home-sb-notifications .icon-font.close {
	color: hsla(0, 0%, 100%, .65)
}

#home-sb-notifications.home-alerts-v5 .alerts-section-link {
	padding-bottom: 0
}

.dark-mode #home-sb-notifications.home-alerts-v5 .sb-notification:not(:last-child) {
	border-bottom: .1rem solid hsla(0, 0%, 100%, .1)
}

#sb .sb-notification .icon-font.close {
	display: none
}

#sb .sb-notification:hover .icon-font.close {
	display: flex
}

.offline-challenge-toaster {
	background-color: #f1f1f1;
	bottom: 0;
	display: flex;
	flex-direction: row;
	font-size: 1.3rem;
	height: 70px;
	position: fixed;
	right: 20px;
	width: 375px;
	z-index: 10000
}

.offline-challenge-toaster .icon-main {
	background-color: #769656;
	color: #fff;
	display: block;
	flex: 0 0 70px;
	font-size: 6rem;
	height: 70px;
	line-height: 40px;
	padding: 11px;
	width: 70px
}

.offline-challenge-toaster .icon-main.chess {
	padding: 11px 17px
}

.offline-challenge-toaster .icon-settings {
	bottom: -3px;
	color: #bfbeba;
	font-size: 2rem;
	margin: 0;
	position: absolute;
	right: 7px
}

.offline-challenge-toaster .icon-settings:hover {
	color: #bfbeba
}

.offline-challenge-toaster .content {
	margin: auto 0;
	padding: 10px
}

.offline-challenge-toaster .content .live-time-label {
	display: inline-block
}

.offline-challenge-toaster .content a,
.offline-challenge-toaster .content strong {
	color: #005e94;
	cursor: pointer
}

@media (max-width:1249px) {
	#sb .action.resize {
		display: none
	}
}

@media (max-width:959px) {
	#tb {
		display: flex
	}
}

.core-modal-container {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 9999
}

.core-modal-container.is-active {
	opacity: 1;
	pointer-events: auto;
	visibility: visible
}

.core-modal-background {
	background-color: rgba(48, 45, 43, .9);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

.default-modal-container {
	align-items: flex-start;
	display: flex
}

.default-modal-container .close {
	height: 40px;
	width: 40px;
	cursor: pointer;
	margin-left: .5rem;
	margin-top: -.8rem
}

.default-modal-container .close span {
	font-size: 4rem;
	margin-top: -6.8px;
	color: #fff
}

.default-modal-content {
	align-items: center;
	background: #fff;
	border-radius: .3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 3rem
}

.default-modal-content .login-buttons span {
	margin: 0 .8rem
}

.default-modal-content.login-content {
	padding: 0
}

@media (max-width:600px) {
	.default-modal-container {
		height: 100%;
		width: 100%
	}
	.default-modal-container .close {
		height: 24px;
		width: 24px;
		color: #8a8886;
		position: absolute;
		right: 2rem;
		top: 2.9rem;
		z-index: 1
	}
	.default-modal-container .close span {
		font-size: 2.4rem;
		margin-top: -4.08px
	}
	.default-modal-content {
		height: 100%;
		width: 100%
	}
}
